@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

*{
    box-sizing: border-box;
}

body, html {
    margin: auto;
    height: auto;
    font-family: 'Belanosima';
}

header img {
    width: 100px;
    height: auto;
    border-radius: 5%;
    border: 1px solid #ccc;
    box-shadow: 0 0 30px #777;
    justify-self: end;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
    background-color: #03B5AA;
	color: #03B5AA;
    margin: -72px;
}

header h1 {
    border-left: 2px solid white;
    padding-left: 1rem ;
    color: white;
}

#content {
    margin: 0 auto; /* use margin only if the element is block */
}

#banner{
    position: relative;
    justify-content: center;
    z-index: 1;
}

.delete{
    border: none;
    background-color: white;
    padding: 2px;
    position: relative;
    z-index: 1;
    font-size: 15px;
    cursor: pointer;
    top: 2.7rem;
    transition: 1s;
}

.prompt{
    border-radius: 0 0 10px  10px;
    background-color: white;
    border-bottom: 5px solid burlywood;
    border-left: 5px solid burlywood;
    border-right: 5px solid burlywood;
    color: black;
    width: 100%;
    text-align: center;
    height: 35px;
    position: fixed;
}

#menu {
	display: block;
	font-weight:300;
	text-decoration: none;
	padding: .7rem;
    background-color: #dad9d9;
	color: #03B5AA;
    cursor: pointer;
}

#menu::before {
    content: "=";
    font-family: 'Font Awesome 6 Free';
    color: #03B5AA;
    font-size: 2rem;
    font-weight: 900; /*always use this after using font awesome unicodes */
}

#menu.show::before {
    content: "X";
    font-family: 'Font Awesome 6 Free';
    color: #03B5AA;
    font-size: 2rem;
    font-weight: 900;
}

nav {
    background-color: #03B5AA;
}

.navigation{
    list-style: none;
    margin: auto;
    padding: 0;
}

.navigation li {
	display: none;
}

.navigation a{
    color: #ffffff;
    display: block;
    text-decoration: none;
    font-family: 'Belanosima', Times, serif;
    font-weight: lighter;
    transition: 0.5s;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;    
}

nav a:hover{
    background-color: #ffffff;
    color: black;
    opacity: .5;
}

.show li {
	display: block;
}

.hero{
    position: relative;
}

.hero img {
    width: 100%;
    height: auto;
}

.button {
    background-color: #03B5AA;
    color: white;
    text-decoration: none;
    font-size: 25px;
    padding: 20px;
    margin: 80px;
    border-radius: 5px;  
}

.button:hover {
    background-color: #ffffff;
    color: black;
    
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: whitesmoke;    
}

#forecast{
    display: grid;
    text-align: center;
    margin: 2rem 0;
}

#forecast h3{
    font-size: 28px;
    margin: 1rem 0 2rem 0;
}

#forecast section{
    display: flex;
    align-items: center;
    padding: 0.5rem;
}

#forecast section *{
    margin: 0 1rem;
}

h4{
    font-family: var(--paragraph-font);
}

.hero img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

section.card {
    background-color: var(--accent1-color);
    justify-content: center;
    align-items: center;
}

.card{
    transition: transform 1s;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 25px auto;
    width: 90%;
    border-radius: 7px;
    box-shadow: 5px 5px 10px rgb(92, 92, 92);
}

.card:nth-of-type(3){
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 5px; 
    background-color: var(--accent2-color); 
    transition: width 0.5s ease; 
}

.card:hover{
    /* background-color: rgb(255, 255, 255, 8); */
    transform: scale(1.05)
}

.card:hover::before {
    width: 100%;
}
  
.card h2{
    background-color: var(--accent1-color);
    color:  var(--accent2-color);
    margin-top: 0;
    padding: 20px 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card:nth-of-type(1) h2{
    background-color: var(--accent2-color);
    color: var(--primary-color);
}

.card:nth-of-type(1) p,
.card:nth-of-type(2) p{    
    text-align: center;
    padding: 1.5rem;
}

.card h3{
    padding: 2rem 1rem 1rem 1rem;
    font-family: var(--paragraph-font);
}


.info{
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    justify-content: center;
    place-items: center;
}


.info p{
    margin-left: 10px;
}

#more-info P{
    margin: 0 0 1rem 0;
}

#forecast h3{
    font-family: var(--paragraph-font);
    color: var(--accent2-color);
}

#spotlight{
    position: relative;
    text-align: center;
    margin: 25px auto;
    width: 90%;
    border-radius: 7px;
    background-color: var(--primary-color);
    box-shadow: 5px 5px 10px rgb(92, 92, 92);
}

#spotlight h2{
    color: var(--accent2-color);
    background-color: var(--accent1-color);
    font-size: 40px;
}

#spot-ad article{
    background-color: #fffefec2;
    color: var(--accent2-color);
    border-radius: 10px;
    box-shadow: 1px 1px 10px 2px rgb(33, 33, 33);
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 1rem;
    width: 90%;
    padding: 1rem 0;
}

#spot-ad article h3{
    font-family: var(--paragraph-font);
    padding: 1rem;
}

#spot-ad article p{
    padding: .2rem 1rem;
}

.section-group {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 100%;
    max-width: 1200px;
}

.Action {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Article Styles */
.article-group {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
}

.article {
    flex: 1;
    background-color: #fff;
    padding: 20px;
    margin: 0 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
footer {
    background-color: #03B5AA;
	color: #03B5AA;
    padding: 25px 50px;
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer .social img {
    padding-top: 15px;
}

#last-modified p{
    color: black;
}

footer p {
    font-size: 1.2em;
    color: #ffffff;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #ffffff;
}

.dark-mode{
    background-color: #9c9c9c;
}

.dark-mode main {
    background-color: #9c9c9c;
}

.dark-mode body{
    background-color: #9c9c9c;
}

.dark-mode #spotlight{
    background-color: #9c9c9c;
}

.dark-mode #spot-ad a{
    color: #9c9c9c;
}

.dark-mode .card{
    box-shadow: 10px 10px 10px #9c9c9c;
}
/* //////////////////////////////////////////////////////////////////////// */
.dark-mode .left-sidebar{
    background-color: #9c9c9c;
    box-shadow: none;
}

.dark-mode .right-sidebar{
    background-color: #9c9c9c;
    box-shadow: none;
}

.dark-mode .discover h5{
    border-top: 2px solid white;
    display: block;
    color: white;
    background-color: #9c9c9c;
}

.dark-mode .left-sidebar section{
    color: white;
    background-color: #9c9c9c;
}


/* Reset some default styles */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    width: 25%;
    background-color: #f0f0f0;
    padding: 20px;
}

.sidebar-content {
    margin-top: 30px;
}

.main-content {
    flex: 1;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;
}

.picture-frame {
    margin: 0 10px;
    width: 100%;
    position: relative;
    transition: box-shadow 0.5s ease;
}

.picture-frame:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2); 
}

.picture-frame img {
    max-width: 100%;
    height: auto;
    width: 100%;
}

.tag {
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 5px;
    font-size: 18px;
    transition: box-shadow 0.5s ease;
}

.picture-frame:hover .tag {
    background-color: rgba(255, 255, 255, 0.8); 
}
/* directory css */

#directory-main{
    display: block;
    margin:2rem 2rem 4rem 2rem;
    position: relative;
}

#button{
    text-align: center;
    margin: 3.5rem;
}

#button button{
    border-radius: 10px;
    padding: .5rem;
    margin: .5rem;
    background-color: #777;
    color: white;
    border: none;
}

#button button:hover{
    cursor: pointer;
    background-color: #3f3f3f;
}

#cards{
    display: none;
}

.grid #cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.list #cards{
    display: flex;
    flex-direction: column;
    margin: 0 1rem;
    box-shadow: 2px 2px 7px 1px #999999 ;
}


@media screen and (max-width: 4800px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    header img {
        width: 60px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    
    #background {
        display: none;
    }
    .home-img, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}

/* Add this CSS to your existing styles */
@media only screen and (max-width: 600px) {
    /* Adjustments for smaller screens */
    header {
        text-align: center;
    }
    nav {
        text-align: center;
    }
    .sidebar {
        width: 100%;
        padding: 0;
        text-align: center;
    }
    .main-content {
        width: 100%;
    }
    .gallery .row {
        display: block;
        margin-bottom: 20px;
    }
    .picture-frame {
        width: 100%;
        margin-bottom: 20px;
    }
    .tag {
        display: block;
        margin-top: 5px;
        text-align: center;
    }
}
