/* Global Styles */
:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-family: Arial, sans-serif;
}

body {
    font-family: var(--font-family);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--primary-color);
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 100px;
    margin: auto;
    
}

footer {
    background-color: var(--secondary-color);
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Form Styles */
form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type=text],
input[type=password],
input[type=email],
input[type=range],
button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Record Page Styles */
.confirmation {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
